.container{
width: 1140px;
margin: 0% auto;}

.text-right{
text-align: right;
}


html,body,div{
margin: 0px;
box-sizing: border-box;}

.hero-image {
width: 100%;}

.cofee-image {
width: 100%;}

.menu-image {
width: 100%;}

.cafe-feature {
box-shadow: 0 4px 4px rgba(0,0,0, 0.1);
width: 520px;
padding: 32px 32px;
margin: 32px;
font-size: 14px;
line-height: 28px;}

.cafe-features {
display: flex;
margin-bottom: 100px;}

.cafe-feature img
{width: 179px;
margin:0 auto;
display:block;}

.cafe-feature-tytle{
text-align: center;
font-size: 20px;
}

.cafe-description{
width: 772px;
margin: 0 auto;
padding: 0 80px 80px 80px;
}
.cafe-description img{
width: 80px;
margin: 0 auto 8px auto;
display: block;
}

.cafe-description h3{
text-align: center;
font-size: 20px;
}

.cafe-description p{
font-size: 14px;
line-height: 28px;
}

.cafe-menu{
background-image: url(./images/menu/bkg.cafe.jpg);
padding: 165px 0;
}

.cafe-menu-inner{
width: 769px;
margin: 0 auto;
background-color: rgba(255,255,255,0.81);
padding: 18px;
}

.cafe-menu-inner h3{
margin-top: 0;
text-align: center;
font-size: 24px;
letter-spacing: 2.4;
font-weight: normal;
}

.cafe-menu-inner table{
width: 540px;
margin:0 auto;
}

.dinner-menu{
background-image: url(./images/menu/menu/bkg.wine.jpg);
padding: 165px 0;
margin-bottom: 100px;
}

.dinner-menu-inner{
width: 769px;
margin: 0 auto;
padding: 18px;
background-color: rgba(255,255,255,0.8);
}

.dinner-menu-inner h3{
margin-top: 0px;
text-align: center;
font-size: 24px;
letter-spacing: 2.4;
font-weight: normal;
}

.dinner-menu-inner table{
width: 540px;
margin: 0 auto;
}

.cafe-information{
width: 788px;
margin:0 auto 32px auto;
}

.cafe-information h3{
font-size: 24px;
font-weight: normal;
text-align: center;
margin-bottom: 40p;
}

.cafe-information-colum{
display: flex;
align-items: center;
}

.cafe-information-colum-right{
width: 482px;
padding: 38px 32px;
border-left: 1px solid #000000;
}

.cafe-information-colum-right h5{
font-size: 16px;
font-weight: bold; 
border-bottom: 1px solid #000000;
margin: 0 0 8px 0;
}

.cafe-information-colum-right p{
font-size: 14px;
font-weight: normal; 
line-height: 20px;
}

.cafe-information-logo{
padding: 0 90px;
}

.cafe-map{
width: 788px;
margin:0 auto 30px auto;
}

.cafe-inquiry{
width: 320px;
margin: 0 auto 30px auto;
}

.cafe-inquiry h5{
font-size: 16px;
font-weight: bold;
text-align: center;
border-bottom: 1px solid #000000;
padding-bottom: 16px;
margin-bottom: 12px;
}

.cafe-inquiry p{
font-size: 30px;
text-align: center;
margin: 0;
letter-spacing: 3px;
}

.instagram{
text-align: center;
}