.container{
width: 1140px;
margin: 0% auto;}

.text-right{
text-align: right;
}

html,body,div{
margin: 0px;
box-sizing: border-box;}

.hero-image {
width: 100%;}

.cofee-image {
width: 100%;}

.menu-image {
width: 100%;}

.cafe-feature {
box-shadow: 0 4px 4px rgba(0,0,0, 0.1);
width: 520px;
padding: 32px 32px;
margin: 32px;
font-size: 14px;
line-height: 28px;}

.cafe-features {
display: flex;
margin-bottom: 100px;}

.cafe-feature img
{width: 179px;
margin:0 auto;
display:block;}

.cafe-feature-tytle{
text-align: center;
font-size: 20px;
}

.cafe-description{
width: 772px;
margin: 0 auto;
padding: 0 80px 80px 80px;
}
.cafe-description img{
width: 80px;
margin: 0 auto 8px auto;
display: block;
}

.cafe-description h3{
text-align: center;
font-size: 20px;
}

.cafe-description p{
font-size: 14px;
line-height: 28px;
}

.cafe-menu{
background-image: url(./images/menu/bkg.cafe.jpg);
padding: 165px 0;
}

.cafe-menu-innner{
width: 769px;
margin: 0 auto;
background-color: rgba(255,255,255,0.81);
padding: 18px;
}

.cafe-menu-innner h3{
margin-top: 0;
text-align: center;
}

.cafe-menu-innner table{
width: 540px;
margin:0 auto;
}